.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 820px;
    border-radius: 10px;
    overflow: hidden;
}

.calendarHeader {
    width: 100%;
    height: auto;
    background-color: #428bca;
    padding-top: 1em;
}

.monthTitle {
    text-align: center;
    padding: 0.25em;
}

.year {
    font-weight: 300;
}

.weekdayRow {
    display: none;
}

.weekdayContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.weekdayTitle {
    padding: 0.5em;
}

.dayContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 1em;
    overflow-x: hidden;
}

.isToday {
    border-radius: 0px;
}

.dayNumber {
    padding: 5px 6px;
}

.weekRow {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    width: 100%;
}

.eventListContainer {
    list-style-type: none;
    margin-top: 10px;
    padding: 0 0 0 2em;
    overflow-x: hidden;
}

.eventItem {
    border-radius: 5px;
    height: auto;
    padding: 2px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    white-space: wrap;
}

.mobileViewDay {
    display: none;
}

.mobileViewDayNoEvents {
    padding: 2em 0;
    text-align: center;
}

.eventsSummary {
    display: none;
}

@media (max-width: 390px) {
    .weekRow div {
        border-right: none !important;
    }

    .hideOnMobile {
        display: none;
    }
}

@media (min-width: 391px) {

    .isToday {
        border-radius: 24px;
    }

    .mobileViewDay {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 1em;
        border-bottom: none;
        background-color: darkgray;
        overflow-x: hidden;
    }

    .monthTitle {
        text-align: left;
        margin: 0 0 0 0.5em;
        font-size: 42px;
    }

    .weekdayRow {
        display: flex;
        width: 100%;
        height: 3em;
    }

    .weekRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 1;
        width: 100%;
        height: auto;
    }

    .dayNumber {
        padding: 1px 3px;
        align-self: flex-end;
    }

    .dayContainer {
        aspect-ratio: 1/1;
        padding-bottom: 5px;
        border-bottom: none;
    }

    .eventListContainer {
        display: none;
    }

    .dayTilesContainer div:last-child {
        border-bottom: none;
    }

    .mobileViewDayNoEvents {
        display: none;
    }

    .eventsSummary {
        display: flex;
        justify-content: center;
        height: auto;
        white-space: nowrap;
        padding: 0.25em;
        overflow-x: hidden;
    }

    .eventsSummaryText {
        font-size: small;
    }
}

@media (min-width: 480px) {
    .dayNumber {
        margin-bottom: 0.5em;
    }
}

@media (min-width: 550px) {
    .dayNumber {
        padding: 5px 6px;
        margin: 0.5em 0.5em 0.5em 0;
    }

    .eventListContainer {
        display: block;
        margin: 0;
        padding: 0 0 0 0.25em;
        height: auto;
        white-space: nowrap;
    }

    .eventsSummary {
        display: none;
    }
}

@media (prefers-color-scheme: light) {}